version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "${MONGO_PORT}:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongo_data:/data/db
    networks:
      - tech-net

  api:
    image: immxtheus/tech-challenge-2
    container_name: tech-challenge-2
    restart: always
    ports:
      - "${PORT}:3000"
    environment:
      PORT: ${PORT}
      ENV: ${ENV}
      JWT_SECRET: ${JWT_SECRET}
      MONGO_URI: ${MONGO_URI}
    depends_on:
      - mongo
    networks:
      - tech-net

networks:
  tech-net:
    driver: bridge

volumes:
  mongo_data:
